* {
  box-sizing: border-box;
}

.row {
  max-width: 1200px;
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col {
  display: block;
  float: left;
}

.col:first-child { 
  margin-left: 0; 
}


/* Mobile Defaults */
.col-1, .col-2, .col-3, .col-4, .col-5,
.col-6, .col-7, .col-8, .col-9, .col-10, 
.col-11, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media screen and (min-width: 700px) {
  .row {
    margin: 0px 72px;
    padding: 0;
  }

  .col-12 {
    width: 98.5%;
  }

  .col-11 {
      width: 91.53%;
  }
  .col-10 {
      width: 83.06%;
  }

  .col-9 {
      width: 74.6%;
  }

  .col-8 {
      width: 66.13%;
  }

  .col-7 {
      width: 57.66%;
  }

  .col-6 {
      width: 49.2%;

  }

  .col-5 {
      width: 40.73%;
  }

  .col-4 {
      width: 32.26%;
  }

  .col-3 {
      width: 23.8%;
  }

  .col-2 {
      width: 15.33%;
  }

  .col-1 {
      width: 6.866%;
  }
}