/* -------------------------------------
CSS reset
A short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(#d0e3e9, #9cbec9, #3B6478);
    background-repeat: no-repeat;
}

.white-bg {
    background: #ffffff;
}

body {
    font-family: 'aglet-slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #5F6566;
    font-size: 16px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}

main {
    height: 100%;
}



/* General Styles */

h1 {
    font-family: skolar-sans-latin-extended, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: #7AABBB;
    padding-top: 30px;
}

h2 {
    font-family: skolar-sans-latin-extended, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    color: #373E40;
}

h3 {
    font-family: skolar-sans-latin-extended, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #373E40;
    font-size: 1.125rem;
    padding-bottom: 5px;
    padding-top: 15px;
}

h4 {
    font-family: 'aglet-slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: #5F6566;
    padding-bottom: 30px;
    padding-top: 25px;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #363636;
    padding-top: 8px;
}

p {
    font-family: 'aglet-slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #5F6566;
    font-size: 1rem;
    color: #5F6566;
    line-height: 1.25rem;
}

li {
    list-style-type: none;
}

a {
    font-family: 'aglet-slab', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    color: #4B6182;
    text-decoration: none;
}



/* Landing Screen */


/* Login & Sign Up Sections */


/* Nav Header */


/* Dashboard Section */


/* Session Form */


/* Journal Section */


/* Change Password Section */

